# Node.js
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
.dockerignore
data/

# MySQL
*.sql
*.log
*.frm
*.ibd
*.MYI
*.MYD
*.CSM
*.CSV
*.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*.swn

# TypeScript
*.tsbuildinfo
